# Carpetas de compilacion y salida
[Bb]in/
[Oo]bj/
publish/
publish_sc/
**/publish/
**/*.exe.WebView2/
*.runtimeconfig.dev.json

# Archivos de usuario de Visual Studio
.vs/
*.user
*.suo

# Base de datos local (opcional, si no quieres subir tus 6700 autos al repo)
*.db
*.db-journal
*.db-wal
*.db-shm